$main : #00735E;
$sub : #555;
$sub1 : #adadad;
$sub2 : #595959;
$detail : #95999C;
$bg-blk : #222;
$mobile: 768px;
$tablet: 1024px;
.main-tit {
    color: #fff;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: -2px;
    padding-top: 24.4rem;
    @media screen and (max-width: $mobile) {
        font-size: 3.25rem;
        padding-top: 20rem;
    }
    &_sb {
        color: $sub;
        font-size: 3rem;
        @media screen and (max-width: $mobile) {
            font-size: 2rem;
        }
    }
    &_sb1 {
        color: $detail;
        font-size: 3rem;
        padding-top: 2rem;
        padding-bottom: 22.3rem;
        @media screen and (max-width: $mobile) {
            font-size: 2.5rem;
            padding-bottom: 18rem;
        }
    }
    &_sb2 {
        color: #615f5f;
        font-size: 3rem;
        padding-left: 27rem;
        line-height: 1.6;
        word-break: keep-all;
        @media screen and (max-width: $mobile) {
            font-size: 1.8rem;
            padding-left: 3rem;
        }
    }
    b {
        font-weight: bold;
    }
    &__center {
        color: #fff;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: -2px;
        padding: 16rem 0;
        @media screen and (max-width: $mobile) {
            font-size: 3.25rem;
            padding: 12rem 0;
        }
    }
}
.sb-tit {
    color: $main;
    font-size: 2.8rem;
    font-weight: 500;
    padding-top: 14.5rem;
    @media screen and (max-width: $mobile) {
    font-size: 2rem;
    }
}

.tit {
    @include mixin-tit;
    padding-bottom: 4rem;
    @media screen and (max-width: $mobile) {
        padding-bottom: 2rem;
    }
}

#sbWrap {
    .tit {
        @include mixin-tit;
    }
}

.current-page {
    color: $main;
}
.current-page_sb {
    color: $main;
    border-bottom: #00735E 5px solid;
}

.bg-green {
    background-color: #F5F9F9;
}

.tit_center {
    color: $main;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    @include mixin-flex();
    padding-top: 8rem;
    padding-bottom: 3rem;
    @media screen and (max-width: $mobile) {
        font-size: 2.8rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
    } 
}