$main : #00735E;
$sub : #555;
$sub1 : #adadad;
$detail : #95999C;
$bg-blk : #222;
.main-tit {
    color: #fff;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: -2px;
    &_sb {
        padding-top: 3rem;
        color: $sub;
        font-size: 3rem;
    }
    b {
        font-weight: bold;
    }
    &__center {
        color: #fff;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: -2px;
        padding: 16rem 0;
    }
}
.sb-tit {
    color: $main;
    font-size: 2.8rem;
    font-weight: 500;
    padding-top: 14.5rem;
}

.tit {
    @include mixin-tit;
    padding-top: 1.3rem;
    padding-bottom: 4rem;
}

#sbWrap {
    .tit {
        @include mixin-tit;

    }
}

.current-page {
    color: $main;
    border-bottom: #00735E 5px solid;
}

.bg-green {
    background-color: #F5F9F9;
}

.tit_center {
    color: $main;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    @include mixin-flex();
    padding-top: 8rem;
    padding-bottom: 3rem;
}