@mixin mixin-btn {
    background-color: #00735E;
    font-size: 2rem;
    padding: 1.6rem 1.9rem;
    border-radius: 1.5rem;
    display: inline-block;
}

@mixin mixin-pseudo ($width: 10px, $height: 10px, $content: ""){
    content: $content;
    position: absolute;
    width: $width;
    height: $height;
    display: block;
}

@mixin mixin-pseudo-custom { //커스텀
    content: "";
    position: absolute;
    display: block;

    @content;
}

@mixin mixin-contBox {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 15px 15px 30px 4px #CECECE;
}

@mixin mixin-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @content;
}
@mixin mixin-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 14.5rem;
} 


@mixin mixin-flex ($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    @content;
}

@mixin mixin-btn ($bg: $main, $col: #fff){
    background: $bg;
    color: $col;
    border-radius: 1.5rem;
    @content;
}

@mixin mixin-tit {
    color: #222;
    font-size: 5rem;
    font-weight: bold;
    @content;
}

@mixin mixin-circle-3 {
    flex-grow: 1;
    color: #fff;
    font-size: 3.6rem;
    text-align: center;
    background : url('/GFCKorea/images/bg_circle.svg') center no-repeat;
    @content;
}
